<div class='custom-bottom-container'>
    <section id="section-1581603072829">
        <div class="FlexboxIeFix">
            <div class="ImageHero ImageHero--large"
                style="background: url(//cdn.shopify.com/s/files/1/0328/6325/6707/files/home-bottom-banner.jpg?v=1584610969)">
                <div class="ImageHero__ImageWrapper">
                    <div class="ImageHero__Image ImageHero__ImageWrapper--hasOverlay Image--zoomOut Image--lazyLoaded"
                        data-optimumx="1.4" data-expand="-150"
                        data-bgset="//cdn.shopify.com/s/files/1/0328/6325/6707/files/home-bottom-banner.jpg?v=1584610969, //cdn.shopify.com/s/files/1/0328/6325/6707/files/home-bottom-banner.jpg?v=1584610969, //cdn.shopify.com/s/files/1/0328/6325/6707/files/home-bottom-banner.jpg?v=1584610969"
                        style="background-image: url(&quot;https://cdn.shopify.com/s/files/1/0328/6325/6707/files/home-bottom-banner.jpg?v=1584610969);">
                        <picture style="display: none;">
                            <source
                                data-srcset="//cdn.shopify.com/s/files/1/0328/6325/6707/files/home-bottom-banner.jpg?v=1584610969, //cdn.shopify.com/s/files/1/0328/6325/6707/files/home-bottom-banner.jpg?v=1584610969,//cdn.shopify.com/s/files/1/0328/6325/6707/files/home-bottom-banner.jpg?v=1584610969"
                                sizes="1604px"
                                srcset="//cdn.shopify.com/s/files/1/0328/6325/6707/files/home-bottom-banner.jpg?v=1584610969, //cdn.shopify.com/s/files/1/0328/6325/6707/files/home-bottom-banner.jpg?v=1584610969, //cdn.shopify.com/s/files/1/0328/6325/6707/files/home-bottom-banner.jpg?v=1584610969">
                            <img alt="" class="lazyautosizes Image--lazyLoaded" data-sizes="auto" data-optimumx="1.4"
                                data-parent-fit="cover" data-srcset="" sizes="1604px"></picture>
                    </div>

                    <noscript>
                        <div class="ImageHero__Image"
                            style="background-image: url(//cdn.shopify.com/s/files/1/0328/6325/6707/files/home-bottom-banner.jpg?v=1584610969)">
                        </div>
                    </noscript>
                </div>
                <div class="ImageHero__ContentOverlay">
                    <header class="SectionHeader">
                        <h2 class="SectionHeader__Heading Heading u-h1">Design with Confidence</h2>
                        <div class="SectionHeader__Description">
                            <p>Need help? Find step by step instructions on our resource page for designing, ordering,
                                and even installing your new garage door. Not too familar with power tools? No worries,
                                we are part of one of the nations largest networks of licensed, insured, vetted, and
                                certified garage door companies that serve every area in the lower 48 states. Having
                                your garage door professionaly installed is a simple click at checkout</p>
                        </div>
                    </header>
                    <div id="section-cta">
                        <a href="" class="Button Button--primary">Resources</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="custom-footer-content">
  	<div class="custom-footer-3-content">
      	<div class="custom-footer-3-content-left">
          <p>Frequently asked<br>questions</p>
		</div>
      	<div class="custom-footer-3-content-center">
          	<div class="custom-contact-support">
              <h3>CONTACT SUPPORT</h3>
              <a href="mailto:support@rwgaragedoorsonline.com?Subject=Query" target="_top">support@rwgaragedoorsonline.com</a>
              <p class="working-days">Mon-Fri | 7am-5pm (PST)</p>
              <a href="tel:877-479-3667">(877) 479-3667</a>
			</div>
		</div>
      	<div class="custom-footer-3-content-right">
          <p>Downloadable<br>Material</p>
		</div>
	</div>
</div>
<style>
  .custom-bottom-container>section {
        width: calc(100% - 150px);
        margin: 0px auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .custom-bottom-container .ImageHero__ContentOverlay {
        flex-basis: 90%;
    }

    .custom-bottom-container .ImageHero__ContentOverlay .SectionHeader__Description {
        max-width: 100%;
      	font-family: 'FuturaPT-Book',sans-serif;
          font-size: 18px;
    }

    .custom-bottom-container>section .Image--lazyLoaded.Image--zoomOut {
        background-position: bottom;
    }
  .custom-bottom-container .SectionHeader__Heading.SectionHeader__Heading
  {
  	font-family: 'FuturaPT-Book',sans-serif;
    font-size: 35px;
  }
  .custom-footer-3-content {
    display: flex;
}

.custom-footer-content {
    width: calc(100% - 150px);
    margin: 0px auto;
    margin-bottom: 50px;
  font-family: 'FuturaPT-Light',sans-serif;
}

.custom-footer-3-content-center {
    width: 33.333%;
    text-align: center;
    align-items: center;
}

.custom-contact-support>h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.custom-contact-support .working-days {
    font-weight: 100;
    color: #777;
    margin-bottom: 0px;
}

.custom-contact-support a {
    font-size: 18px;
}
  .custom-footer-3-content-left{
  	width: 33.333%;
  	background:url(https://cdn.shopify.com/s/files/1/0328/6325/6707/files/banner-left.jpg?v=1584612795);
        background-size: cover;
    background-repeat: no-repeat;
  	background-position: bottom;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	color: #fff;
  	text-transform: uppercase;
  	font-size: 30px;
  	flex-wrap: wrap;
  	text-align: center;
  	padding: 30px 60px;
  }
  .custom-footer-3-content-right{
  	width: 33.333%;
  	background:url(https://cdn.shopify.com/s/files/1/0328/6325/6707/files/banner-right.jpg?v=1584612805);
        background-size: cover;
    background-repeat: no-repeat;
  	background-position: bottom;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	color: #fff;
  	text-transform: uppercase;
  	font-size: 30px;
  	flex-wrap: wrap;
  	text-align: center;
  	padding: 30px 60px;
  }
</style>