<div id="imagesection">
<div class="simpleimage">
  <p>{{section.settings.image_picker}}</p>p>
</div>
</div>
{% schema %}
{
  "name": "Logo",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
