<section id="section-timeline" class="Section Section--spacingNormal" data-section-id="timeline" data-section-type="timeline">
    <div class="Container  Container--withflex">
    	
                      <div class="pageDiv-column">
                        	<h4 class="SectionHeader__Heading Heading u-h4">Vacaville Showroom</h4>
						845 Davis St<br>
						Vacaville CA, 95687<br>
						(877) 479-3667<br>


                      </div>
                       <div class="pageDiv-column">
                        	<h4 class="SectionHeader__Heading Heading u-h4">Business Hours:</h4>
						Mon - Fri :  7:30am - 5:00pm<br>
						Sat		  :  7:30am - 2:00pm<br>
						Sun		  :  CLOSED<br>
                      </div>
                  	
  	</div>
</section>
{% schema %}
{
  "name": "Paragraph-text",
  "settings": [
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Tell your story"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Text",
      "default": "<p>Add your own custom content to give more information about your store, availability details...</p>"
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Paragraph Text",
      "settings": {}
    }
  ],

"name": "Paragraph-text2",
  "settings": [
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Tell your story"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Text",
      "default": "<p>Add your own custom content to give more information about your store, availability details...</p>"
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Paragraph Text",
      "settings": {}
    }
  ]
}
{% endschema %}