{% section 'slideshow' %}
<section class="Section Section--spacingNormal" data-section-id="featured-product" data-section-type="featured-product" data-section-settings='featured-product'>
  <header class="PageHeader">
      <div class="SectionHeader SectionHeader--center">
        <h1 class="SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
      </div>
    </header>
</section>
<section class="Section Section--spacingNormal" data-section-id="featured-product" data-section-type="featured-product" data-section-settings='featured-product'>
  <div class="Container">
    <div class="ProductListWrapper">
        <div class="ProductList ProductList--grid  Grid" data-mobile-count="2" data-desktop-count="2">
          <div class="FeaturedProduct FeaturedProduct--center">
            <div class="FeaturedProduct__Info">
              <div class="Footer__Title Heading u-h6">
                <h1 class="SectionHeader__Heading Heading u-h1">PRE ORDER</h1>
              </div>
              <ul class="Footer__Title Heading u-h6">
                <li>How To Measure my Garage Door</li>
                <li>How to choose the right Garage Door</li>
                <li>How To Prepare for my garage door installation</li>
              </ul>
            </div>
            <div class="FeaturedProduct__Info">
              <div class="Footer__Title Heading u-h6">
                <h1 class="SectionHeader__Heading Heading u-h1">POST ORDER</h1>
              </div>
              <ul class="Footer__Title Heading u-h6">
                <li>How To install my Garage Door</li>
                <li>How To Maintain my Garage Door</li>
                <li>How To Install my Garage Door Motors</li>
              </ul>
            </div>
          </div>
      	</div>
    </div>
  	</div>
</section>
<section class="Section Section--spacingNormal" data-section-id="featured-product" data-section-type="featured-product" data-section-settings='featured-product'>
  <div class="Container">
    <div class="ProductListWrapper">
        <div class="ProductList ProductList--grid  Grid" data-mobile-count="2" data-desktop-count="2">
          <div class="FeaturedProduct FeaturedProduct--center">
            <div class="FeaturedProduct__Info">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/38z-hrjq9uo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="FeaturedProduct__Info">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/38z-hrjq9uo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
      	</div>
    </div>
  </div>
</section>
<section class="Section Section--spacingNormal" data-section-id="featured-product" data-section-type="featured-product" data-section-settings='featured-product'>
  <div class="Container">
    <div class="ProductListWrapper">
        <div class="ProductList ProductList--grid  Grid" data-mobile-count="2" data-desktop-count="2">
          <div class="FeaturedProduct FeaturedProduct--center">
            <div class="FeaturedProduct__Info">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/a3MSzBMu-w0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="FeaturedProduct__Info">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/5q0OGU13sZk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
      	</div>
    </div>
  </div>
</section>
<section class="Section Section--spacingNormal" data-section-id="featured-product" data-section-type="featured-product" data-section-settings='featured-product'>
  <div class="Container">
    <div class="ProductListWrapper">
        <div class="ProductList ProductList--grid  Grid" data-mobile-count="2" data-desktop-count="2">
          <div class="FeaturedProduct FeaturedProduct--center">
            <div class="FeaturedProduct__Info">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/gOowtrFELaM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="FeaturedProduct__Info">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/r03n1-HO7Y8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
      	</div>
    </div>
  </div>
</section>

{% section 'image-with-text-overlay' %}
{% section 'image-with-text-button' %}
