<div class="flexslider">
  <ul class="slides">
    <li><img src="https://cdn.shopify.com/s/files/1/0328/6325/6707/files/H_RE_30_ST_SD_03.jpg?v=1580880255" /></li>
    <li><img src="https://cdn.shopify.com/s/files/1/0328/6325/6707/files/Amarr_Horizon_Single.jpg?v=1580879385" /></li>
  </ul>
</div>

<script type="text/javascript">
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    directionNav: true
  });
});
</script>