{% section 'slideshow' %}
<section class="Section Section--spacingNormal" id="section-blog-posts" data-section-type="article-list" data-section-id="blog-posts">
  <div class="Container">
    {%- if section.settings.subheading != blank or section.settings.title != blank -%}
      <header class="SectionHeader SectionHeader--center">
        {%- if section.settings.subheading != blank -%}
          <h3 class="SectionHeader__SubHeading Heading u-h6">{{ section.settings.subheading | escape }}</h3>
        {%- endif -%}

        {%- if section.settings.title != blank -%}
          <h2 class="SectionHeader__Heading Heading u-h1">{{ section.settings.title | escape }}</h2>
        {%- endif -%}
      </header>
    {%- endif -%}
    <div class="ArticleListWrapper">
      <div class="ArticleList Grid Grid--m Grid--center">
        {% section 'slideshow' %}
      </div>
    </div>
    <div class="ArticleListWrapper">
      <div class="ArticleList Grid Grid--m Grid--center">
        {% section 'slideshow' %}
      </div>
    </div>
    <div class="ArticleListWrapper">
      <div class="ArticleList Grid Grid--m Grid--center">
        {% section 'slideshow' %}
      </div>
    </div>
  </div>
</section>